<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <!-- <form class="search" action="/" method="POST" enctype="application/x-www-form-urlencoded">
    <fieldset>
      <legend></legend>
      <input value="Madelief" type="input" id="searchValue" name="search" required minlength="1" placeholder="Typ hier uw verzoek...">
      <button id="searchBtn" type="submit">&#128269;</button>
    </fieldset>
  </form> -->
  <noscript>
  <form class="search" action="mailto:someone@example.com" method="POST" enctype="text/plain">
    <fieldset>
      <label for="textInput"
        >Afstand
        <select name="distance">
          <option value="100">100 meter</option>
          <option value="500">500 meter</option>
          <option value="1000">1000 meter</option>
          <option value="1500">1500 meter</option>
          <option value="3000">3000 meter</option>
          <option value="5000">5000 meter</option>
          <option value="10000">10000 meter</option>
        </select>
      </label>
    </fieldset>
    <fieldset>
      <label for="textInput"
        >Naam of rugnummer
        <input
          type="text"
          id="name"
          name="user"
          required
          minlength="4"
          maxlength="20"
          size="20"
        />
      </label>
    </fieldset>
    <fieldset>
      <label for="time">Behaalde tijd: </label>
      <input type="time" name="time">
    </fieldset>
    <button id="searchBtn" type="submit">Bevestig persoon</button>
  </form>
  </noscript>


  <!-- <form class="search" action="/" method="POST" enctype="application/x-www-form-urlencoded">
    <fieldset>
      <label for="textInput"
        >Afstand
        <select name="distance">
          <option value="100">100 meter</option>
          <option value="500">500 meter</option>
          <option value="1000">1000 meter</option>
          <option value="1500">1500 meter</option>
          <option value="3000">3000 meter</option>
          <option value="5000">5000 meter</option>
          <option value="10000">10000 meter</option>
        </select>
      </label>
    </fieldset>
    <fieldset>
      <label for="textInput"
        >Naam of rugnummer
        <input
          type="text"
          id="name"
          name="user"
          required
          minlength="4"
          maxlength="20"
          size="20"
        />
      </label>
    </fieldset>
    <button id="searchBtn" type="submit">Bevestig persoon</button>
  </form> -->


  <% include ../partials/footer %>
</body>

</html>
