<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="wrapper">
    <% include ../partials/nav %>
    <section class="top">
      <h2 class="name">
        <%= data.naam %>
      </h2>
      <h2 class="distance">
        <%= data.afstand %> meter
      </h2>
    </section>
    <h3 class="time"><%= data.startWith %></h3>



    <table>
      <tr>
        <th>Afstand</th>
        <th>Tijd</th>
      </tr>
      <% for (let i = 0; i < data.chosenTrack.length; i ++) { %>
      <tr>
        <td> <%=chosenTrack[i].meter%> meter</td>
      </tr>
      <% } %>

      <section class='startform'>
        <form class="search" action="/started" method="POST" enctype="application/x-www-form-urlencoded">

          <button tabindex="1" id="ronde" type="submit">Start</button>
        </form>
      </section>


      <% include ../partials/footer %>
  </div>
</body>

</html>